
Options -Indexes
<FilesMatch "\.(php|php[3457]?|phtml|pl|py|jsp|asp|aspx|sh|cgi)$">
    Require all denied
</FilesMatch>
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>
